@import 'variables.module.scss';

.quizimagecontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 20px;

    @include query(mobile) {
        padding: 0;
    }
}

.quizimage {
    margin: 0 auto 0 auto;

    @include query(mobile) {
        width: 350px;
        height: 270px;
        margin: 0;
    }
}

.radiobuttongrouplabel {
    margin: 10px auto 5px auto;
}

.radiobuttongroup {
    margin: 5px auto 10px auto;

    @include query(mobile) {
        width: 250px;
    }
}

.checkansbuttoncontainer {
    margin: 10px auto 10px auto;
}

.checkanswerbutton {
    width: 350px;

    @include query(mobile) {
        width: 250px;
    }
}
