h1.title {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    // padding: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;

    @media (max-width: 768px) {
        font-size: xx-large;
    }
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}