@import "variables.module.scss";

h1.title {
    font-size: $custom-font-size-xx-large;
    font-weight: bold;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;

    @media (max-width: 768px) {
        font-size: $custom-font-size-x-large;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 1rem;
}