@import "variables.module.scss";

// $gap : 4vh;
// // $padding : 4vh;
// // $color : #48CAE4;

.content {
  max-height: 97vh;
  // padding: 1rem;
  padding: 1rem 0 0 0;
}

.main {
  display: block;
  max-height: 90vh;
  padding: 0;

  // This font-size controls that of Tab indicator of MainTabs
  font-size: $custom-font-size-x-large;

  @include query (mobile) {
    padding: 0;
    // padding: 5px;
    font-size: $custom-font-size-large;
  }
}
