@import 'variables.module.scss';

.playgroundcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: stretch;
    gap: 20px;
    margin-top: $playground-container-top-margin;

    @include query(mobile) {
        flex-direction: column;
        gap: 10px;
    }
}

$page-header-approx-total-height: 170px;
$tab-menu-approx-total-height: 60px;

.playgroundfirstcolumn {
    // If you change this width, test the playground carefully
    width: calc(100% + 30px);
    max-width: 800px;
}

.playgrounddesc {
    display: flex;
    width: 100%;
    min-width: 200px;
    // max-width: 500px;
    height: 100%;

    @include query(mobile) {
        margin: 20px;
    }
}
