.switchlocale {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, "游ゴシック体", "Yu Gothic Medium", YuGothicM, "游ゴシック Medium", YuGothic, "Yu Gothic", "游ゴシック", "Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    text-align: right;
    margin-right: 1rem;
}