@import 'variables.module.scss';

.angleindicator {
    display: flex;
    align-items: flex-end;
    height: $playground-page-headline-height;
    margin-top: 0px;

    @include query(mobile) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.indicatortext {
    // This font size has to match with
    // .pgdescheading of PlayGroundDescription.module.scss
    // in order to make the baseline of the two headings aligned
    font-size: $font-size-for-indicator-desc;
    margin: 0 auto 0 auto;

    @include query(mobile) {
        font-size: $custom-font-size-large;
    }
}

.degree {
    // This font size has to match with
    // .dummyforalign of PlayGroundDescription.module.scss
    // in order to make the baseline of the two headings aligned
    font-size: $font-size-for-degree-number;
    vertical-align: baseline;
    padding: 0 5px 0 5px;

    @include query(mobile) {
        font-size: $custom-font-size-x-large;
    }
}
