@import 'variables.module.scss';

.playgroundcanvas {
    max-width: 550px;
    margin: 0 auto 0 auto;

    @include query(mobile) {
        min-width: 360px;
    }
}

.canvas {
    width: 100%;
    height: 100%;
}
