@import "variables.module.scss";

.pgdescheadline {
    display: flex;
    align-items: flex-end;
    height: 80px;
    text-align: center;
    margin-top: 0px;

    @include query (mobile) {
        height: 40px;
    }
}

.pgdescheading {
    // This font size has to match with
    // .indicatortext of PlayGroundAngleIndicator.module.scss
    // in order to make the baseline of the two headings aligned
    font-size: $custom-font-size-x-large;
    margin: 0 auto 0 auto;

    @include query (mobile) {
        font-size: $custom-font-size-large;
    }
}

.dummyforalign {
    // This font size has to match with
    // .degree of PlayGroundAngleIndicator.module.scss
    // in order to make the baseline of the two headings aligned
    font-size: $custom-font-size-xx-large;
    vertical-align: baseline; 
    padding: 0;

    @include query (mobile) {
        font-size: $custom-font-size-x-large;
    }
}

.instruction {
    font-size: $custom-font-size-large;
    margin-left: 50px;

    @include query (mobile) {
        font-size: $custom-font-size-normal;
    }
}